*{
    margin: 0;
    padding: 0;
}

.main{
   width: 100%;
   background: white;
   background-position: center;
   background-size: cover;
   height: 109vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: brown;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'times new roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid black;
    margin-top: 20px;
    color: white;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 1px solid #ff7200;
    margin-top: 20px;
    color: white;
    font-size: 15px;
    border-bottom-right-radius: 5px;

}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.button{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 1px solid #ff7200;
    margin-top: 20px;
    color: white;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    padding: 5px;
}

.sell{
    width: 100px;
    height: 40px;
    padding-left: 40px;
   margin-left: 40px;
    margin-top: 20px;
    color: white;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    
}

.bttn{
        width: 100px;
        height: 40px;
        background: #ff7200;
        border: 1px solid #ff7200;
        margin-top: 20px;
        margin-left: 40px;
        color: white;
        font-size: 15px;
        border-bottom-right-radius: 5px;
        padding: 5px;
    
}

.Login{
    width: 280px;
    height: 380px;
    background: #24262b;
   /* background: linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);*/
    color: white;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 40px 25px;
}

h1{
    margin: 0;
    height: 40px;
    font-size: 22px;
    padding: 0 0 20px;
    text-align: center;
}

.Login h1{
    background-color: tomato;
    height: 50px;
    border-radius: 6px;
    padding: 10px;
    margin: 0;
    font-weight: bold;
}

.Login input{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 18px;
    border-radius: 4px;
}

.Login input[type="text"],input[type="password"]
{
   border: none;
   border-bottom: 2px solid #ffffff;
   background: transparent;
   color: white;
   outline:none;
   height: 20px;
   font-size: 16px;
}

.Login input[type="submit"]
{
    border: none;
    outline: none;
    height: 30px;
    color: white;
    background: black;
    font-size: 17px;
    border-radius:20px;

}
.signup input[type="submit"]{
    border: none;
    outline: none;
    height: 30px;
    color: white;
    background: black;
    font-size: 17px;
    border-radius:40px;
    width: 100%;
    margin-top: 20px;
}
.signup input[type="submit"]:hover
{
    cursor: pointer;
    background: white;
    color: black;
    font-weight: bold;
}
.Login input[type="submit"]:hover
{
    cursor: pointer;
    background: white;
    color: black;
    font-weight: bold;
} 

.Login a{
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    color: lightsalmon;

}
.Login a:hover{
    color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{ 
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    width: 100%;
    padding: 70px 10px;
    
}
.footer-col{
   width: 33%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: white;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

@media(max-width: 767px){
  .footer-col{
    width: 100%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

.signup{
    width: 380px;
    height: 550px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
    color: white;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 40px 25px;
}

h2{
    margin: 0;
    height: 70px;
    font-size: 30px;
    padding: 0 0 20px;
    text-align: center;
}

.signup h2{
    background-color: tomato;
    height: 60px;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
    font-weight: bold;
}
.form-group {
    width: 100%;
    height:35px ;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.label-box{
    width: 300px ;
    height: 30px;
    display: inline-block;
    
}

.signup p{
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    margin-top: 20px;
}
.signup a{
    text-decoration: underline;
    font-size: 18px;
    line-height: 18px;
    color: tomato;
}
.signup a:hover{
    color: yellow ;
}






